<h2>Sign up Estate</h2>

<%= form_for [@user, @estate] do |f| %>
  <% if @estate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estate.errors.count, "error") %> prohibited this estate from being saved:</h2>

      <ul>
      <% @estate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :size %><br/>
    <%= f.text_field :size, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :direction %><br/>
    <%= f.text_field :direction %>
  </div>


  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude%>
  </div>

  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude%>
  </div>
  


  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


